
.card_container {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 400px;
    min-height: 380px;
    min-width: 300px;
    background-color: white;
    box-shadow: 10px 10px 20px #888888;
    margin: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
}

.card_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    top: 0;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% { opacity: 0;};
    100% { opacity: 1};
}

.card_description {
    padding-bottom: 10px;
}


.card_info_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}


.card_description_text {
    width: 100%;
    line-height: 1.3rem;
    font-size: 1rem;
    margin-top: -10px;
    height: 60px;
}

.card_title {
    font-size: 20px;
    font-weight: bolder;
}

.card_tag {
    text-transform: capitalize;
    color: rgb(87, 142, 112);
    margin-top: -10px;
}


.card_opening_hour {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-top: -5px;
}

.card_opening_hour > p {
    margin-top: 20px;
    color: rgb(141, 141, 163);
    font-style: italic;
    font-size: small;
}


@media screen and (max-width: 1000px){
    .card_container {
        width: 95%
    }
}