.category_container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    background-color: #0f0840;
}

.category_container h1 {
    color: white;
    margin-top: 35px;
    font-family: 'Oswald', sans-serif;
}


.shop_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    height: 180px;
    width: 200px;
    border-radius: 10px;
    color: white;
    transition: all 0.5s ease-in;
    cursor: pointer;
}

.shop_container > h1{
    font-size: 20px;
}


.shop_container:hover {
    transform: scale(1.1);
}


.categories {
    display: flex; 
    padding: 50px 0;
    justify-content: center; 
    align-items: center; 
    flex-flow: row wrap;
}

