
.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f0840;
    flex-direction: column;
    padding: 40px;
}


.link {
    color: while;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-decoration: none;
    transition: all 0.5s ease-in;
}


.link:hover{
    color: burlywood;
    transform: scale(1.1);
}


.link_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.under_link {
    color: cadetblue;
    text-decoration: none;
    display: flex;
    margin-right: 10px;
    transition: all 0.5s ease-in;
}

.under_link:hover {
    color: burlywood;
    transform: scale(1.1);
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    color: cadetblue;
    margin-top: 20px;
}

.copyright p {
    margin-top: 15px;
    margin-right: 4px;
}


@media screen and (max-width: 760px) {
    .link_container {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        padding: 5px;
    }

    .under_link {
        margin-bottom: 5px;
    }

}