
.thumbnail_container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-left: 10px;
    height: 400px;
    width: 95%;
    margin-bottom: 50px;
}

.thumbnail_container > p {
    font-size: 50px;
    font-weight: bolder;
    margin-left: 10px;
    height: 100%;
}


.thumbnail {
    display: flex;
    position: relative;
    align-items: center;
    padding: 10px 0px;
    margin-left: 10px;
    background-color: rgba(0, 0, 0);
}


.image_slider {
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    overflow-x: scroll;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.image_slider::-webkit-scrollbar{
    display: none;
}


.thumbnail_image {
    width: 250px;
    height: 250px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 250px;
    min-height: 250px;
    transition: transform .5s ease-in;
    border-radius: 15px;
}

.thumbnail_image:hover {
    transform: scale(1.1);
}

